// put your app styling here
//
// in this file, we are importing the bare minimum, for faster compiling
// if something doesn't work here, consider putting in into custom.scss

// --- import the bare minimum of bootstrap

@import "styles/common";

// --- style your app so that it looks cool

body {
	// background: red;
}

.header {
	margin-top: 30px;
}

.logo {
	position: relative;
	top: -10px;
	width: 300px;
	margin-right: 30px;
}

.page-title,
.results-table {
	margin-bottom: 30px;
}

.numeric-column {
	text-align: right;
}

form {
	.error {
		margin-top: 5px;
		color: #900;
		// font-size: 90%;
	}
}

label {
	font-weight: bold;
}
.form-control {
	border-radius: 0;
	border-style: solid;
}